alabaster==0.7.12
aspell-python-py3==1.15
astroid==2.14.2
Babel==2.13.1
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
blessed==1.20.0
blinker==1.7.0
Brotli==1.1.0
bs4==0.0.1
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
contexttimer==0.3.3
cryptography==41.0.7
cssselect2==0.7.0
Cython==0.29.32
dbus-python==1.3.2
distro==1.8.0
distro-info==1.0
dnspython==2.4.2
docutils==0.19
email-validator==2.1.0.post1
et-xmlfile==1.1.0
flask==3.0.0
flask-babel==4.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
flask-sqlalchemy==3.1.1
flask-talisman==1.1.0
Flask-Uploads==0.2.1
flask-wtf==1.2.1
fonttools==4.46.0
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.3
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
hunspell==0.5.5
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
inexactsearch==1.0.2
itsdangerous==2.1.2
jaraco.classes==3.2.1
jdcal==1.4.1
jeepney==0.8.0
Jinja2==3.1.2
keyring==23.9.3
langid==1.1.6
launchpadlib==1.11.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
lxml==4.9.4
Mako==1.3.0
MarkupSafe==2.1.3
mod-wsgi==5.0.0
more-itertools==8.10.0
mysql-connector-python==8.2.0
numpy==1.24.4
nvm==1.0.21
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.0
pandas==2.0.3
pdfkit==1.0.0
Pillow==10.1.0
protobuf==4.21.12
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pycurl==7.45.2
pydyf==0.8.0
pyenchant==3.2.2
Pygments==2.14.0
PyGObject==3.42.2
pyinotify==0.9.6
PyJWT==2.6.0
PyMySQL==1.1.0
pyOpenSSL==23.3.0
pyparsing==3.0.9
pyphen==0.14.0
PySimpleSOAP==1.16.2
pyspellchecker==0.7.2
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
pytz==2023.3.post1
pyxdg==0.28
PyYAML==6.0
reportbug==0.0.129
requests==2.31.0
roman==3.3
SecretStorage==3.3.3
silpa-common==0.3
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
soundex==1.1.3
soupsieve==2.5
spellchecker==0.4
sphinx==5.3.0
sphinx-autoapi==2.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.23
srsly==2.4.8
style==1.1.0
systemd-python==235
textstat==0.7.3
tinycss2==1.2.1
typing-extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
Unidecode==1.3.6
update==0.0.1
urllib3==2.1.0
wadllib==1.3.6
wcwidth==0.2.12
weasyprint==60.1
webencodings==0.5.1
werkzeug==3.0.1
wrapt==1.14.1
wtforms==3.1.1
xdg==5.0.0
zipp==3.17.0
zopfli==0.2.3
